<%if(quiz.image) {%>
<p><img class="quiz_img" src="/media/<%= quiz.image %>"></p>
<%}%>
<form method="get" action="/quizes/<%=quiz.id%>/answer" >
	Pregunta: <%= quiz.pregunta %> <p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario </button></a></p>
<p>            <%if(session.user){ 
    var fav=false; for(j in favourites){ 
                 if(favourites[j].id===quiz.id){
                    fav=true;
                     break;
                 }
             } %>
            <% if(fav){%>
            <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quiz.id%>?_method=delete">
                <button type = "submit" >
                   <img src="/images/favon.svg"/>
                </button>
            </form>
            <%} else {%>
            <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quiz.id%>">
                <button type = "submit" >
                    <img src="/images/favoff.svg"/>
                </button>
            </form>
            <% } 
                     }%> 
</p>
<p><strong>Comentarios</strong></p>
<%  var index; for( index in quiz.comments){  %>
    <%if(quiz.comments[index].publicado){%>
<p>-<%=quiz.comments[index].texto %></p>
            
    <%} else if(session.user &&(session.user.isAdmin || (session.user && quiz.UserId === session.user.id))) {%>
        <p>-<%=quiz.comments[index].texto %>
            <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/publish">  
                <button>Publicar</button>
            </a>
        </p>
            <%}%>
    <%}%>

