<h3>Estadísticas:</h3> 
<p> Número de preguntas: <%=quizzes%></p>
<p> Número de comentarios: <%=comments%></p>
<p> Número medio de comentarios por pregunta: <%=meanComments %></p>
<p> Numero de preguntas sin comentarios: <%=woComments %></p>
<p> Numero de preguntas con comentarios: <%=wComments %></p>